html,
body {
    margin: 20px, auto;
    padding: 20px, auto;
    font-family: sans-serif;
}

.delivery-form {
    padding: 20 px, auto;
}

input,
label,
select,
textarea {
    display: block;
}

input,
select,
textarea {
    margin-bottom: 12px;
}

label {
    cursor: default;
}